<!doctype html>
<html lang="en">
<% include header.ejs %>
<body>
<% include navbar.ejs %>

<div class="container app">
    <h4>Authentication</h4>
    <div class="leader">
        To use this app, authorize access to Facebook App to manage your profile and pages
    </div>
    <hr class="my-4">
    <a class="btn btn-light btn-dark" href="/login/facebook" role="button">Login with Facebook</a>
</div>

<% include footer.ejs %>
</body>
</html>